{% extends "layout.html" %}

{% block content %}



<h1 style="text-align:center; margin-top:30px">Hi Yonis!</h1>



<div class="row" style="margin-top:25px">


    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Welcome to YMLearn Learning Platform
            </div>

            <div class="card-body">

                <p>
                    YMLearn Learning Platform has been designed in such as way to ensure you get the highest possible grade in your Maths test or exam.
                </p>

                <p>If you have any suggestions or requests for improvements, we would love to hear from you! <a href="#">Just drop us an email</a> and we will aim to act your suggestion. </p>

            </div>
        </div>

    </div>


    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                GCSE Exam Dates
            </div>

            <div class="card-body">

                <p style="color:red">
                    Exams for 2021-2022 academic year have not been announced. We will update this page as soon as we get the dates.  
                </p>

            </div>
        </div>
    </div>

</div>


    <div class="row" style="margin-top:25px">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Topics to cover
                </div>

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-sm ">
                            <thead>
                                <tr>
                                    <th scope="col">Topic Area</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Link to topic</th>
                                    <th scope="col">Topic completed?</th>
                                    <th scope="col">Topic result</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Algebra</td>
                                    <td>Simultaneous Equations</td>
                                    <td><a href="#">Go to topic</a></td>
                                    <td>Yes</td>
                                    <td>83%</td>

                                </tr>
                                <tr>
                                    <td>Number and ratio</td>
                                    <td>Decimals, Fractions and Percentages</td>
                                    <td><a href="#">Go to topic</a></td>
                                    <td>No</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>Geometry</td>
                                    <td>Pythagoras Theroem</td>
                                    <td><a href="#">Go to topic</a></td>
                                    <td>No</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>






                </div>
            </div>
        </div>


    </div>


































{% endblock %}
