{% extends "layout.html" %}

{% block content %}

<h1 style="text-align:center; margin-top:30px">GCSE Maths</h1>




<div class="row" style="margin-top:5%">
    {% for topic in topics  %}

   
    <div class="col-sm-4">
        <a href="{{ url_for('topics', id = topic[2]) }}">
            <div class="card border-dark mb-3">
                <div class="card-header">{{topic[0]}}</div>
                <div class="card-body text-dark">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </a>
    </div>
    

    {% endfor %}

</div>






    {% endblock %}
