{% extends "layout.html" %}

{% block content %}

<h1 style="text-align:center; margin-top:30px" ">GCSE Maths</h1>


<ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist" style="margin-top:5%">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#number_ratio" role="tab" aria-controls="pills-home" aria-selected="true">Number and ratio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#algebra" role="tab" aria-controls="pills-profile" aria-selected="false">Algebra</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#geometry" role="tab" aria-controls="pills-contact" aria-selected="false">Geometry</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#probability_statistcs" role="tab" aria-controls="pills-contact" aria-selected="false">Probability and Statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#info" role="tab" aria-controls="pills-contact" aria-selected="false">Course Information and Past Papers</a>
    </li>



</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="number_ratio" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
    <div class="tab-pane fade" id="algebra" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>



{% endblock %}
