{% extends "layout.html" %}

{% block content %}



<h1 style="text-align:center; margin-top:30px">Hi Yonis!</h1>



<div class="row" style="margin-top:25px">

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Connecting to the database and code base.
            </div>
            <div class="card-body">

                <a href="https://docs.google.com/document/d/1MQieRfpLCoBZRFryRJ1tYBfzx4wKSJxeSVGsx0y2qY0/edit?usp=sharing" target="_blank"> See documenation</a>


            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Tasks to achieve an MVP.
            </div>
            <div class="card-body">

                <a href="https://docs.google.com/document/d/19AfdsR3_vM3exqeR34_DOshWFeCB2DsyshFtVIFTIgI/edit?usp=sharing" target="_blank"> See documenation</a>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Business Plan.
            </div>
            <div class="card-body">

                <a href="https://docs.google.com/document/d/12q235pfRNTOQWkhw7U-o_tMnbaA51gztrtnF6PzACHM/edit?usp=sharing" target="_blank"> See documenation</a>

            </div>
        </div>
    </div>




</div>










































{% endblock %}
