{% extends "layout2.html" %}



{% block content %}



<h2 style="text-align:center; margin-top:30px">{{topic_name[0]}}</h2>

<p>Learning Objectives</p>


<ul>
    {% for learning_objectives in learning_objectives  %}
    <li>{{learning_objectives[2]}}</li>
    {% endfor %}

</ul>


  {% for resources in resources %}

<ul style="list-style-type:none;">


    {% if resources[3] == 'video' %}
    <li style="margin-bottom:5px"> <a href="#" data-toggle="modal" data-target="#learn"><span style="font-size:30px"><i class="bi bi-play-circle"></i></span> {{ resources[4] }} </a> </li> {% endif %}

    {% if resources[3] == 'file' %}
    <li style="margin-bottom:5px"><a href="{{resources[2]}}" target="_blank"><span style="font-size:30px"><i class="bi bi-file-earmark-text-fill"></i> </span>  {{resources[4]}}   </a> </li> {% endif %}



</ul>



<!-- Modal -->
<div class="modal fade" id="learn" tabindex="-1" role="dialog" aria-labelledby="learn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ resources[4] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="{{ resources[2] }}"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

 {% endfor %}





 {% endblock %}