{% extends "layout2.html" %}

{% block content %}


<h1 style="text-align:center; margin-top:30px; margin-bottom:45px">{{topic_name[0]}}</h1>



<div class="table-responsive" style="margin-bottom: 45px">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Subtopic</th>
                <th scope="col">Action</th>
                <th scope="col">First test result</th>
                <th scope="col">Latest test result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for subtopic in subtopic %}

                <td>
                    {{subtopic[5]  }}
                    {% if subtopic[7] == 'N' %}
                    <span style="color:red">Unavailable</span>
                    {% else %}
                    <a href="#" data-toggle="modal" data-target="#information{{subtopic[4]}}"> <i class="bi bi-info-circle-fill" style="color:DodgerBlue"></i> </a>
                    {% endif %}
                </td>

                <td> {% if subtopic[7] == 'Y' %} <a href="{{ url_for('learn', sub_topic_id = subtopic[4]) }}">Go to topic</a> {% endif %}</td>
                <td> {% if subtopic[7] == 'Y' %} <span>Not attempted</span> {% endif %}</td>
                <td> {% if subtopic[7] == 'Y' %} <span>Not attempted</span>  {% endif %}</td>
            </tr>



            {% endfor %}
        </tbody>
    </table>





    <!-- Modal -->
    {% for subtopic in subtopic %}
    <div class="modal fade" id="information{{subtopic[4]}}" tabindex="-1" role="dialog" aria-labelledby="information" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">


                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center">{{subtopic[5]}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    The learning objectives:

                    <ul>
                        {% for learning_objectives in learning_objectives %}
                            {% if subtopic[4] == learning_objectives[1]  %}
                                 <li>{{learning_objectives[0]}}</li>
                            {% endif  %}
                        {% endfor %}
                    </ul>



                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>


 {% endblock %}
